# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=91d81376-f0dd-4423-b0d8-8045ed0a552d

    # Set to true to disable all reporting
    B:opt-out=false
}


